/* Common style for all divs */
div {
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    margin: 25px;
    border: 4px solid black;
    line-height: 100px;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: white;
  }
  
  /* div#A: purple border + red glow shadow */
  #A {
    border: 4px solid purple;
    box-shadow: 10px 10px 20px red;
  }
  
  /* div#B: green border + inner black shadow */
  #B {
    border: 4px solid lime;
    box-shadow: inset 10px 10px 20px black;
  }
  
  /* div#C: layered multicolor borders using box-shadow */
  #C {
    border: 4px solid orange;
    border-radius: 30px;
    box-shadow:
      0 0 0 10px blue,
      0 0 0 20px red,
      0 0 0 30px green;
  }
  
  /* div#D: red border + double text shadow for blurred overlapping look */
  #D {
    border: 4px solid brown;
    text-shadow: 2px 2px 0 black, -2px -2px 0 black;
  }
  